<h1>Orders</h1>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">

function shopnow(){
	//var request = new Request('/productcatalog', {method: 'GET'});
	alert("Redirect to product catalog!");
	//location.href="/productcatalog";
}

document.getElementById("button_shopnow").addEventListener("click", shopnow);

</script>

{{#if valid_user}}

	{{#if hasOrder}}

		<div class="container">          
			  <table class="table">
			    <thead>
			      <tr>
			        <th>Order ID</th>
			        <th>Item Details</th>
			        <th>Timestamp</th>
			        <th>Status</th>
			        <th>Total</th>
			      </tr>
			    </thead>
			    <tbody>
				{{# each orders}}
					<tr>
				        <td>{{this.orderId}}</td>
				        <td>{{{this.ItemDetails}}}</td>
				        <td>{{this.timestamp}}</td>
				        <td>{{this.status}}</td>
				        <td>${{this.total}}</td>
			      	</tr>
				{{/each}}
			    </tbody>
			  </table>
		</div>
		<div align="center">
		<h3>Psssttt...Let's shop some more!</h3>
		</div>
		<div align="center">
		<img width = "10%" height="20%" src="https://static1.squarespace.com/static/565d4416e4b042bda9cb9eb4/t/570b4d0a8a65e2e68d8cf79f/1460358418528/" align="middle"/>
		</div>
		<br>
		<div>
		<button type="button" id="button_shopnow" class="btn btn-success" onClick="shopnow()">Shop Now</button>
		</div>


	{{else}}

		<h1>Looks like you haven't started shopping with us yet! Let get you started shall we..:)</h1>
		<div id="empty_order_img">
		<img src="https://static1.squarespace.com/static/565d4416e4b042bda9cb9eb4/t/570b4d0a8a65e2e68d8cf79f/1460358418528/" align="middle"/>
		</div>
		<br>
		<button type="button" id="button_shopnow" class="btn btn-success" onClick="shopnow()">Shop Now</button>
	{{/if}}
	
{{else}}

	<h1>Please login to view your orders!</h1>
	<br>
	<button type="button" id="button_login" class="btn btn-primary" onClick="login()">Login</button>
	<div align="center" style="float:left">
		<img src="https://github.com/lucid-ninja.png" />
	</div>
	
{{/if}}
